:host {
  display: block;
  height: 55px;
  margin: 4px;
  width: 110px;
}

.button-clear-defaults {
  border: unset;
}

.button-svg {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: inset 0 0 25px 25px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  strong {
    font-size: 12px;
    white-space: nowrap;
  }

  background-color: white;
  background-size: cover;
  border: unset;
  width: 110px;
  height: 55px;
}
