:host {
  display: block;
  height: 100%;
  width: 100%;
}

.logo-img {
  background: white;
  border-radius: 50%
}

.title {
  font-family: Lobster, serif;
  display: inline-block;
  font-size: 1.5em;
  vertical-align: middle;
  line-height: normal;
  font-weight: bold;
}
